<%= form_with(model: @group, class: "d-flex flex-column vh-100 bg-secondary bg-opacity-10" ) do |form| %>
  <% if @group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="navbar d-flex align-items-center bg-main">
    <%= link_to groups_path, class: "btn" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left text-light" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    <% end %>
    <p class="navbar-brand m-0 text-light position-absolute top-50 start-50 translate-middle">CATEGORIES</p>
  </div>

  <%= form.text_field :name, autofocus: true, autocomplete: "name", 
    class: "w-100 p-2 mt-3 mb-1", placeholder: "Name"
  %>

  <div class="w-100 p-2 mb-1 bg-white rounded">
    <%= form.label :icon, style: "display: block" %>
    <%= form.file_field :icon %>
  </div>

  <div class="w-100 bg-second p-3 mt-auto">
    <%= form.submit "Create Category", class: "w-100 p-3 btn text-light border-light" %>
  </div>
<% end %>